.sidebar {
  height: calc(100vh - var(--header-height));
  width: var(--sidebar-width);
  position: relative;
  background-color: var(--inverted-bg-color);
  transition: width 0.5s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.switch {
  width: 32px;
  height: 32px;
  margin-left: 20px;
}